@model Araba.Models.Model

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marka.MarkaAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka.MarkaAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelAd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
