@model Araba.Models.Ilan
@{
    ViewBag.Title = "Detay";
}
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-8">
                <div id="carouselExampleIndicators" class="carousel slide">
                    
                    <div class="carousel-inner">
                        @{ int i = 0;}
                        @foreach (var item in ViewBag.imgs)
                                {
                                    i++;
                                    var active = i == 1 ? "active" : "";
                            <div class="carousel-item @active">
                                <img src="/Content/images/@item.ResimAd" class="d-block w-100" alt="" height="500" style="border-radius: 20px">
                            </div>
                        }


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- Slider -->
            <div class="col-md-4">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr><th colspan="2">İlan Özellikleri</th></tr>
                        <tr><td><strong>İlan No</strong></td><td>@Model.IlanNo</td></tr>
                        <tr><td><strong>Şehir</strong></td><td>@Model.Sehir.SehirAd</td></tr>
                        <tr><td><strong>Durum</strong></td><td>@Model.Durum.DurumAd</td></tr>
                        <tr><td><strong>İlan Tarihi</strong></td><td>@Model.Tarih</td></tr>
                        <tr><td><strong>Marka</strong></td><td>@Model.Model.Marka.MarkaAd</td></tr>
                        <tr><td><strong>Model</strong></td><td>@Model.Model.ModelAd</td></tr>
                        <tr><td><strong>Model Yılı</strong></td><td>@Model.ModelYili</td></tr>
                        <tr><td><strong>Kilometre</strong></td><td>@Model.Kilometre</td></tr>
                        <tr><td><strong>Yakıt Türü</strong></td><td>@Model.YakitTuru</td></tr>
                        <tr><td><strong>Vites Türü</strong></td><td>@Model.VitesTuru</td></tr>
                        <tr><td><strong>Açıklama</strong></td><td>@Model.Aciklama</td></tr>
                        <tr><td><strong>Fiyat</strong></td><td style="font-size:18px; color:indigo">@Model.Fiyat ₺</td></tr>
                        <tr><td><strong>Telefon</strong></td><td><label class="btn btn-success btn-block"><i class="bi bi-telephone-fill"></i> @Model.Telefon</label></td></tr>
                    </tbody>
                </table>    
            </div>
        </div>

    </div>




