@model PagedList<Araba.Models.Ilan>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <div class="row">
        <!-- Slider -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                @Html.Action("Slider", "Home")
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <br>
            <!-- Filtreleme Kısmı -->
            @Html.Action("PartialFiltre", "Home")

        </div>
        @foreach (var item in Model)
        {
            var c = 1;
            <div class="col-md-3">
                <br />
                <!-- İlan Listesi-->
                <div class="img-thumbnail">
                    @foreach (var rsm in ViewBag.imgs)
                    {
                        if (rsm.IlanId == item.IlanId)
                        {
                            if (@c == 1)
                            {
                                <a href="/Home/Detay/@item.IlanId"><img src="/Content/images/@rsm.ResimAd" class="card-img-top" height="240" alt="..."></a>
                                c++;
                            }


                        }
                    }
                    <div class="card-body" style="text-align:center">
                        <h6 class="card-title">@item.Model.Marka.MarkaAd (MODEL: @item.Model.ModelAd)</h6>
                        <h6 class="card-title" style="color:Highlight">Model Yılı: @item.ModelYili (@item.Kilometre KM)</h6>
                        <h5 class="card-title" style="color:red"><b>@item.Fiyat TL</b></h5>
                    </div>
                </div>
            </div>
        }
        @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa}))

    </div>
</div>