@model Araba.Models.Ilan

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h3>Bu ilanı silmek istediğinizden emin misiniz?</h3>
    <div>
        <dl class="dl-horizontal">
            

            <dt>
                İlan No
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IlanNo)
            </dd>

            <dt>
                Açıklama
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aciklama)
            </dd>

            <dt>
                Fiyat
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fiyat)
            </dd>

            <dt>
                Tarih
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

            <dt>
               Kilometre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kilometre)
            </dd>

            <dt>
                Model Yılı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModelYili)
            </dd>

            <dt>
                Yakıt Türü
            </dt>

            <dd>
                @Html.DisplayFor(model => model.YakitTuru)
            </dd>

            <dt>
                Vites Türü
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VitesTuru)
            </dd>

            

            <dt>
                Telefon
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefon)
            </dd>

           

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Sil</button>
            <a href="/Ilan/Index" class="btn btn-warning"><i class="bi bi-file-earmark"></i> İlan Listesi</a>
        </div>
        }
    </div>
</div>


