@model IEnumerable<Araba.Models.Durum>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-3">
            <br>
            <!-- Filtreleme Kısmı -->
            @Html.Action("PartialFiltre", "Home")
        </div>
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/Index">Admin Sayfası</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Durum Listesi</li>
                </ol>
            </nav>
            <div class="img-thumbnail">
                <br />
                <a class="btn btn-success col-12" href="@Url.Action("Create")">Durum Ekle</a>
                <table class="table">
                    <tr>
                        <th>
                            Durum Adı
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DurumAd)
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("Edit",new { id = item.DurumId })"><i class="bi bi-pencil"></i>Düzenle</a>
                                <a class="btn btn-danger" href="@Url.Action("Delete",new { id = item.DurumId })"><i class="bi bi-trash"></i>Sil</a>
                            </td>
                        </tr>
                    }

                </table>


            </div>
        </div>

    </div>
</div>
